{% extends "base.html" %}

{% block title %}
<title>My Events</title>
{% endblock %}

{% block content %}
<div id="body-my-account">
    <div class=my-account-content>
        <div class="side-bar">
            <a href="{% url 'my_account' %}">
                <button class="my-button goldman-regular">Personal Information</button>
            </a>
            <a href="{% url 'lost_found_history' %}"><button class="my-button goldman-regular">Lost&Found
                    history</button>
            </a>
            <a href="{% url 'my_events' %}"><button class="my-button goldman-regular">My Events</button>
            </a>
        </div>
        <div class="info-lost">
            <h1 class="goldman-regular">My Events</h1>
            <hr>
            <div class="lost-contents-info">
                {% for item in interested_events %}
                {% if item.student == request.user.student %}
                <div class="event-box">
                    <div>
                        <a href="{{ info.get_absolute_url }}">
                            <div class="event-image">
                                {% if info.image %}
                                <img src="{{ info.image.url }}" alt="{{ info.title }}" width="100%" height="100%">
                                {% else %}
                                <p>No image available.</p>
                                {% endif %}
                            </div>
                            <div class="event-name noto-sans-thai-about">{{ info.title }}</div>
                        </a>
                        <div class="event-duration-box">
                            <img src="https://lh3.googleusercontent.com/d/1cC59hVdiBcd2xTmRPf0PbXL6l7gB-lAw"
                                alt="clock_logo" width="15" height="15">
                            <div class="event-duration noto-sans-thai-about">
                                <div>{{ info.start_date }}</div>
                                <div>{{ info.end_date }}</div>
                            </div>
                        </div>
                        <div class="event-place-box">
                            <img src="https://lh3.googleusercontent.com/d/1WkrPHsZX7RKwxG5pMan-HIgGVvE0msOZ"
                                alt="location_logo" width="15" height="15">
                            <div class="event-place noto-sans-thai-about">{{ info.place }}</div>
                        </div>
                        {% if request.user.is_authenticated %}
                        <form method="post" action="{% url 'toggle_interest' info.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn-interest">
                                <div class="interest-container">
                                    <img src="https://lh3.googleusercontent.com/d/1MIIe8PaaZVoXbAa0GV-3Eytt-azq8kJa"
                                        width="10" height="10" alt="star">
                                    <div class="interest">
                                        {% if info.id in interested_event_ids %}
                                        Interested
                                        {% else %}
                                        Interest
                                        {% endif %}
                                    </div>
                                </div>
                            </button>
                        </form>
                        {% else %}
                        <button class="btn-interest" onclick="alert('Please login to use this feature');">
                            <div class="interest-container">
                                <img src="https://lh3.googleusercontent.com/d/1MIIe8PaaZVoXbAa0GV-3Eytt-azq8kJa"
                                    width="10" height="10" alt="star">
                                <div class="interest">
                                    {% if info.id in interested_event_ids %}
                                    Interested
                                    {% else %}
                                    Interest
                                    {% endif %}
                                </div>
                            </div>
                        </button>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

    {% endblock %}