#head {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.p-3 {
    padding: 0rem !important;

}

body>.mb-5 {
    margin-bottom: 0.5rem !important;
}

.box {
    box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.10);
}

.bg-body-tertiary {
    display: grid;
    grid-template-columns: 2fr 5fr 1.5fr;
    height: 100px;
}

.logo {
    text-align: right;
    margin-top: -7px;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900 */

.red-hat-display-font-nav {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.nav-menu>ul>li {
    display: inline-block;
    margin-right: 20px;
}

.nav-menu,
.nav-button {
    display: flex;
    justify-items: center;
    align-items: center;
}

.nav-menu {
    margin-top: 15px;
}

.nav-item:hover {
    color: black;
    opacity: 50%;
}

.login-button {
    border-radius: 20px;
    background-color: rgb(227, 44, 44);
    border-color: rgb(172, 0, 0);
    font-size: 20px;
    color: white;
}

.login-button:hover {
    background-color: rgb(255, 221, 49);
    border-color: rgb(255, 234, 101);
    color: grey;
}

.logout-button {
    display: flex;
    align-items: center;
}

.logout-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.logout {
    display: block;
    margin-top: 21%;
}

a {
    color: black;
}

@media (max-width: 600px) {
    .bg-body-tertiary {
        display: flex;
        justify-items: center;
        align-items: center;
        height: 60px;
    }

    .bg-body-tertiary>div>a>img {
        width: 60px;
        height: 60px;
    }

    .red-hat-display-font-nav {
        font-family: "Red Hat Display", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 8px;
    }

    .nav-menu>ul>li {
        display: inline-block;
        margin-right: 10px;
    }

    .nav-menu,
    .nav-button {
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .nav-menu {
        width: 250px;
        height: 72px;
    }

    .login-button {
        border-radius: 10px;
        background-color: rgb(227, 44, 44);
        border-color: rgb(172, 0, 0);
        font-size: 10px;
        color: white;
    }

    .login-button:hover {
        background-color: rgb(255, 221, 49);
        border-color: rgb(255, 234, 101);
        color: grey;
    }

    .events {
        margin-left: -4px;
    }

    .clubs {
        margin-left: -3px;
    }

    .lost-found {
        margin-left: 1px;
    }

    .logout-content>img {
        width: 10px;
        height: 10px;
    }

    .logout-content>p {
        margin-top: 36%;
    }


}