{% extends "base.html" %}

{% block title %}
<title>About</title>
{% endblock %}

{% block content %}
<div id="about">
    <div class="about-1">
        <div class="about-box-1">
            <div class="goal-title">Our Goal</div>
            <div class="goal-description noto-sans-thai-about">

                <p class="des">
                    เป้าหมายของเราคือการสร้างเว็ปไซต์สำหรับนักศึกษามหาวิทยาลัยธรรมศาสตร์เพื่อที่จะสามารถติดตามข่าวสารและกิจกรรมต่าง
                    ๆ อีกทั้งยังมีฟีเจอร์ที่เป็นประโยชน์ต่อนักศึกษา</p>

                <br>
                <p class="des">ในปัจจุบันการติดตามข่าวสารเเละกิจกรรมต่าง ๆ
                    ในมหาวิทยาลัยนั้นเป็นไปได้ด้วยความยากลำบากในบางครั้ง เนื่องจากการประชาสัมพันธ์มีหลายช่องทาง
                    ทำให้นักศึกษาอาจได้รับข่าวสารไม่ทั่วถึง เว็บไซต์นี้จะช่วยรวบรวมข่าวสารทุกอย่างไว้ในที่เดียว
                    รวมถึงจัดหมวดหมู่ให้ค้นหาได้ง่าย อีกทั้งยังมีฟีเจอร์ที่น่าสนใจ เช่น Lost&Found
                    ที่อนุญาตให้ผู้ใช้โพสต์ตามหาของที่หาย รวมถึงโพสต์ของที่เจอ เพื่อตามหาเจ้าของได้ และฟีเจอร์ Alert
                    ที่ช่วยแจ้งและเตือนภัยเรื่องต่าง ๆ เช่น ไฟดับ, ทำถนน, พบบุคคลน่าสงสัย ฯลฯ</p>
                <br>
                <br>
                <p id="side">- TU Events Developer -</p>
            </div>
        </div>
        <div class="about-box-1">
            <div class="developer-title">Developers</div>
            <div class="developers noto-sans-thai-about">
                <p>1. ชุติกาญจน์ กีดคำ 6610625011</p>
                <br>
                <p>2. ธนวรรณ ผ่องแผ้ว 6610685171</p>
                <br>
                <p>3. ศุภวิชญ์ บุญประเสริฐ 6610685346</p>
                <br>
                <p>4. สิรณัฏฐ์ พิมพิจารณ์ 6610685353</p>
                <br>
                <p>5. อันติมาดา แสงรุ่งเรือง 6610685387</p>
            </div>
            <div class="project-link">
                <a class="github" href="https://github.com/6610685353/web_tu_events">
                    <img src="
                    https://lh3.googleusercontent.com/d/1xvWg8I9qoTSAQHjeIKrAUQZh_1fbrJmx" alt="jira_logo" width="70"
                        height="60">
                </a>
                <a class="jira"
                    href="https://webtuevents.atlassian.net/jira/software/projects/SCRUM/boards/1?atlOrigin=eyJpIjoiYmRhMmQ3ZTQ4Yzc5NDkxZmIwZTFmMzE1ZjdiMmJkMDMiLCJwIjoiaiJ9">
                    <img src="https://lh3.googleusercontent.com/d/1hVhLgxbXJoK7j8UKfnTGX1k3xT1SAuEw" alt="jira_logo"
                        width="100" height="50">
                </a>
                <a class="document"
                    href="https://drive.google.com/file/d/1DUwrXWk0ZCuq9S0JozgZRp7VAPnmgyP-/view?usp=sharing">
                    <img src="https://lh3.googleusercontent.com/d/1c0aQJas3sgYG45NHHL8-NfA9YLMOk4aq" alt="document"
                        width="90" height="90">
                </a>
            </div>
        </div>

    </div>
</div>
{% endblock %}