{% extends "base.html" %}

{% block title %}
<title>Events</title>
{% endblock %}

{% block content %}
<div id="body-events">
    <div>
        <div>
            <div class="btn-group category">
                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Category
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Cultural</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Entertainment</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Religious</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sports</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Workshops</a></li>
                </ul>
            </div>
            <div class="events-content">
                <div class="events-box">
                    <div class="box">
                        <p>box1</p>



                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}