{% extends "base.html" %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
<div id="body">
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li class="alert alert-success">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id="home-top">
        <div class="welcome-text section-left">
            <div class="welcome-text-box">
                <h1 class="header goldman-regular">Welcome</h1>
                <h1 class="sub-header goldman-regular">to TU Event</h1>
                <p class="home-slogan goldman-regular">"From Student, to Student"</p>
            </div>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide">
            <div id="alert-carousel" class="carousel slide" data-bs-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-indicators">
                    {% for alert in alerts %}
                    <button type="button" data-bs-target="#alert-carousel" data-bs-slide-to="{{ forloop.counter0 }}"
                        class="{% if forloop.first %}active{% endif %}"
                        aria-label="Slide {{ forloop.counter }}"></button>
                    {% endfor %}
                </div>

                <!-- Carousel Inner -->
                <div class="carousel-inner">
                    {% for alert in alerts %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <a href="{{ alert.get_absolute_url }}">
                            {% if alert.image %}
                            <img src="{{ alert.image.url }}" class="d-block w-100" alt="{{ alert.title }}">
                            {% else %}
                            <img src="https://via.placeholder.com/800x400" class="d-block w-100"
                                alt="No image available">
                            {% endif %}
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ alert.title }}</h5>
                                {% comment %} <p>{{ alert.description }}</p> {% endcomment %}
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>

                <!-- Carousel Controls -->
                <button class="carousel-control-prev" type="button" data-bs-target="#alert-carousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#alert-carousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
    </div>
    {% comment %} <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> {% endcomment %}


<div class="home-content-bg">
    <div class="clubs-banner goldman-regular">
        <div class="club-view-all-box">
            <h1 class="clubs-title">Events</h1>
            {% comment %} <div class="view-all-box">
                <a href="{% url 'all_events' %}">
                    <div class="view-all-box">
                        <div>
                            <h6 class="noto-sans-thai-about">view all</h6>
                        </div>
                        <div>
                            <img src="https://lh3.googleusercontent.com/d/1cmTnTrsBExZUUstb2AGGoXb3eo0B988C"
                                alt="view all" height="15" width="auto">
                        </div>
                    </div>
                </a>
            </div> {% endcomment %}
        </div>
    </div>
    <hr>
    <div class="events-content">
        {% for info in all_announcement|slice:":4" %}
        <div class="event-box">
            <div>
                <a href="{{ info.get_absolute_url }}">
                    <div class="event-image">
                        {% if info.image %}
                        <img src="{{ info.image.url }}" alt="{{ info.title }}" width="100%" height="100%">
                        {% else %}
                        <p>No image available.</p>
                        {% endif %}
                    </div>
                    <div class="event-name noto-sans-thai-about">{{ info.title }}</div>
                </a>
                <div class="event-duration-box">
                    <img src="https://lh3.googleusercontent.com/d/1cC59hVdiBcd2xTmRPf0PbXL6l7gB-lAw" alt="clock_logo"
                        width="15" height="15">
                    <div class="event-duration noto-sans-thai-about">
                        <div>{{ info.start_date }}</div>
                        <div>{{ info.end_date }}</div>
                    </div>
                </div>
                <div class="event-place-box">
                    <img src="https://lh3.googleusercontent.com/d/1WkrPHsZX7RKwxG5pMan-HIgGVvE0msOZ" alt="location_logo"
                        width="15" height="15">
                    <div class="event-place noto-sans-thai-about">{{ info.place }}</div>
                </div>
                {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'toggle_interest' info.id %}">
                    {% csrf_token %}
                    <button type="submit"
                        class="btn-interest {% if info.id in interested_events %}btn-interested{% endif %}">
                        <div class="interest-container">
                            <i class="{% if info.id in interested_events %}fas fa-check{% else %}fas fa-star{% endif %}"
                                class="interest-icon" width="10" height="10" alt="icon"></i>
                            <div class="interest">
                                {% if info.id in interested_events %}
                                Interested
                                {% else %}
                                Interest
                                {% endif %}
                            </div>
                        </div>
                    </button>
                </form>
                {% else %}
                <button type="submit"
                    class="btn-interest {% if info.id in interested_events %}btn-interested{% endif %}">
                    <div class="interest-container">
                        <i class="{% if info.id in interested_events %}fas fa-check{% else %}fas fa-star{% endif %}"
                            class="interest-icon" width="10" height="10" alt="icon"></i>
                        <div class="interest">
                            {% if info.id in interested_event_ids %}
                            Interested
                            {% else %}
                            Interest
                            {% endif %}
                        </div>
                    </div>
                </button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="view-all-box">
            <a href="{% url 'all_events' %}">
                <div class="view-all-box">
                    <div>
                        <h6 class="noto-sans-thai-about">view all</h6>
                    </div>
                    <div>
                        <img src="https://lh3.googleusercontent.com/d/1cmTnTrsBExZUUstb2AGGoXb3eo0B988C" alt="view all"
                            height="15" width="auto">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="clubs-banner goldman-regular">
        <div class="club-view-all-box">
            <h1 class="clubs-title">Announcement From all Clubs</h1>
            {% comment %} <div class="view-all-box">
                <a
                    href="{% if user.is_superuser %}{% url 'clubs_announcement_list_admin' %}{% else %}{% url 'clubs_announcement_list' %}{% endif %}">
                    <div class="view-all-box">
                        <div>
                            <h6 class="noto-sans-thai-about">view all</h6>
                        </div>
                        <div>
                            <img src="https://lh3.googleusercontent.com/d/1cmTnTrsBExZUUstb2AGGoXb3eo0B988C"
                                alt="view all" height="15" width="auto">
                        </div>
                    </div>
                </a>
            </div> {% endcomment %}
        </div>
        <hr>
    </div>

    <div class="events-content">
        {% if request.user.is_authenticated %}
        {% for info in all_club_announcements|slice:":4" %}
        <div class="event-box">
            <div>
                <a href="{{ info.get_absolute_url }}">
                    <div class="event-image">
                        {% if info.image %}
                        <img src="{{ info.image.url }}" alt="{{ info.title }}" width="100%" height="100%">
                        {% else %}
                        <p>No image available.</p>
                        {% endif %}
                    </div>
                    <div class="event-name noto-sans-thai-about">{{ info.title }}</div>
                </a>
                <div class="event-duration-box">
                    <img src="https://lh3.googleusercontent.com/d/1cC59hVdiBcd2xTmRPf0PbXL6l7gB-lAw" alt="clock_logo"
                        width="15" height="15">
                    <div class="event-duration noto-sans-thai-about">
                        <div>{{ info.start_date }}</div>
                        <div>{{ info.end_date }}</div>
                    </div>
                </div>
                <div class="event-place-box">
                    <img src="https://lh3.googleusercontent.com/d/1WkrPHsZX7RKwxG5pMan-HIgGVvE0msOZ" alt="location_logo"
                        width="15" height="15">
                    <div class="event-place noto-sans-thai-about">{{ info.place }}</div>
                </div>
                <div class="user-box-clubs">
                    <div class="profile-pic-box-clubs">
                        {% if info.club and info.club.image %}
                        <!-- ถ้ามีรูปภาพของ club -->
                        <img src="{{ info.club.image.url }}" alt="club-pic" height="100%" width="100%">
                        {% else %}
                        <!-- ถ้าไม่มีรูปภาพ -->
                        <img src="https://lh3.googleusercontent.com/d/1DFiBeV_CVm0oaIHyX7PVY2HLnNNGqkyN" alt="club-pic"
                            height="100%" width="100%">
                        {% endif %}
                    </div>
                    {% if info.club %}
                    <!-- แสดงชื่อของคลับที่นักศึกษาผู้โพสต์สังกัด -->
                    <div class="profile-name noto-sans-thai-about">{{ info.club.title }}</div>
                    {% else %}
                    <div class="profile-name noto-sans-thai-about">No Club</div>
                    {% endif %}
                </div>
                {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'toggle_interest' info.id %}">
                    {% csrf_token %}
                    <button type="submit"
                        class="btn-interest {% if info.id in interested_events %}btn-interested{% endif %}">
                        <div class="interest-container">
                            <i class="{% if info.id in interested_events %}fas fa-check{% else %}fas fa-star{% endif %}"
                                class="interest-icon" width="10" height="10" alt="icon"></i>
                            <div class="interest">
                                {% if info.id in interested_events %}
                                Interested
                                {% else %}
                                Interest
                                {% endif %}
                            </div>
                        </div>
                    </button>
                </form>
                {% else %}
                <button class="btn-interest" onclick="alert('Please login to use this feature');">
                    <div class="interest-container">
                        <img src="https://lh3.googleusercontent.com/d/1MIIe8PaaZVoXbAa0GV-3Eytt-azq8kJa" width="10"
                            height="10" alt="star">
                        <div class="interest">Interest</div>
                </button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="view-all-box">
            <a
                href="{% if user.is_superuser %}{% url 'clubs_announcement_list_admin' %}{% else %}{% url 'clubs_announcement_list' %}{% endif %}">
                <div class="view-all-box">
                    <div>
                        <h6 class="noto-sans-thai-about">view all</h6>
                    </div>
                    <div>
                        <img src="https://lh3.googleusercontent.com/d/1cmTnTrsBExZUUstb2AGGoXb3eo0B988C" alt="view all"
                            height="15" width="auto">
                    </div>
                </div>
            </a>
        </div>
        {% else %}
        <p>You have to login first to see all the announcements from clubs.</p>
    {% endif %}
    </div>
</div>
</div>
</div>

{% endblock %}