{% extends "base.html" %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
<div id="body-login">
    <div class="login-bg">
        <br></br>
        {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        <div class="login-box">
            <p class="login-title">TU Events Login</p>
            <form method="post" action="{% url 'login' %}" class="login-form">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username-input" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username-input" placeholder="Student ID"
                        required />
                </div>
                <div class="mb-3">
                    <label for="password-input" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password-input"
                        aria-describedby="passwordHelpBlock" required />
                </div>
                <div class="login-btn">
                    <button type="submit" class="btn btn-primary login_button">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}