{% extends "base.html" %}

{% block title %}
<title>Lost</title>
{% endblock %}

{% block content %}
<div id="top-lost">
    <div class="slogan">
        <h1 class="goldman-regular">Lost</h1>
        <h1 class="andfound goldman-regular">&Found</h1>
        <p class="first-sub goldman-regular">"Find What You’ve Lost, </p>
        <p class="sub-slogan goldman-regular">Return What You’ve Found"</p>
    </div>
</div>
<div id="bottom-lost">
    <div>
        <div class="lost-found-menu-bar">
            <nav class="lost-found-nav noto-sans-thai-about">
                <a href="">Lost</a>
                <a href="">Found</a>
                <div class="animation start-lost"></div>
            </nav>
        </div>
        <div class="lost-title goldman-regular">
            <p>Find What You’ve Lost</p>
            <img src="https://lh3.googleusercontent.com/d/1YOAdmUK4oW8o9140Aaa_-onRj3K88eAz" alt="arrow-down"
                height="20" width="20">
        </div>

    </div>
</div>
{% endblock %}