{% extends "base.html" %}

{% block title %}
<title>Clubs</title>
{% endblock %}

{% block content %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li class="alert alert-success">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div id="body-clubs">
    <div class="create-post-container">
        {% if user.is_authenticated %}
        {% if request.user.student.club or user.is_superuser %}
        <a href="{% url 'clubs_create_announcement' %}">
            <button class="post-button">
                <i class="fas fa-pencil-alt"></i>
                <p class="noto-sans-thai-about">CREATE POST</p>
            </button>
        </a>
        {% endif %}
        {% endif %}
    </div>
    <div class="clubs-banner goldman-regular">
        <div class="club-view-all-box">
            <h1 class="clubs-title">{{faculty_name}} Clubs</h1>
            <div class="view-all-box">
                <a href="{% url 'clubs_by_faculty' %}">
                    <div class="view-all-box">
                        <div>
                            <h6 class="noto-sans-thai-about">view all</h6>
                        </div>
                        <div>
                            <img src="https://lh3.googleusercontent.com/d/1cmTnTrsBExZUUstb2AGGoXb3eo0B988C"
                                alt="view all" height="15" width="auto">
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <hr>
    </div>
    <div class="club-content">
        {% if clubs %}
        {% for club in clubs|slice:":6" %}
        <div class="club-box">
            <a href="{{ club.get_absolute_url }}">
                <div class="club-img-frame">
                    {% if club.image %}
                    <img src="{{ club.image.url }}" alt="{{ club.title }}" width="150" height="150">
                    {% else %}
                    <p>No image available.</p>
                    {% endif %}
                </div>
                <div class="club-name noto-sans-thai-about">{{ club.title }}</div>
            </a>
        </div>
        {% empty %}
        <p>No clubs found for your faculty.</p>
        {% endfor %}
        {% else %}
        <p>No clubs found for this faculty.</p>
        {% endif %}
    </div>

    <div class="clubs-banner goldman-regular">
        <div class="club-view-all-box">
            <h1 class="clubs-title">TU Clubs</h1>
            <div class="view-all-box">
                <a href="{% url 'tu_clubs' %}">
                    <div class="view-all-box">
                        <div>
                            <h6 class="noto-sans-thai-about">view all</h6>
                        </div>
                        <div>
                            <img src="https://lh3.googleusercontent.com/d/1cmTnTrsBExZUUstb2AGGoXb3eo0B988C"
                                alt="view all" height="15" width="auto">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <hr>
    </div>
    <div class="club-content">
        {% for info in tu_clubs %}
        <div class="club-box">
            <a href="{{ info.get_absolute_url }}">
                <div class="club-img-frame">
                    {% if info.image %}
                    <img src="{{ info.image.url }}" alt="{{ info.title }}" width="150" height="150">
                    {% else %}
                    <p>No image available.</p>
                    {% endif %}
                </div>
                <div class="club-name noto-sans-thai-about">{{ info.title }}</div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% comment %} <div class="club-section-bar">
    </div> {% endcomment %}
    <div class="clubs-banner goldman-regular">
        <div class="club-view-all-box">
            <h1 class="clubs-title">Clubs Post</h1>
        </div>
        <hr>
    </div>
    <div class="events-content">
        {% for info in tu_club_announcements %}
        <div class="event-box">
            <div>
                <a href="{{ info.get_absolute_url }}">
                    <div class="event-image">
                        {% if info.image %}
                        <img src="{{ info.image.url }}" alt="{{ info.title }}" width="100%" height="100%">
                        {% else %}
                        <p>No image available.</p>
                        {% endif %}
                    </div>
                    <div class="event-name noto-sans-thai-about">{{ info.title }}</div>
                </a>
                <div class="event-duration-box">
                    <img src="https://lh3.googleusercontent.com/d/1cC59hVdiBcd2xTmRPf0PbXL6l7gB-lAw" alt="clock_logo"
                        width="15" height="15">
                    <div class="event-duration noto-sans-thai-about">
                        <div>{{ info.start_date }}</div>
                        <div>{{ info.end_date }}</div>
                    </div>
                </div>
                <div class="event-place-box">
                    <img src="https://lh3.googleusercontent.com/d/1WkrPHsZX7RKwxG5pMan-HIgGVvE0msOZ" alt="location_logo"
                        width="15" height="15">
                    <div class="event-place noto-sans-thai-about">{{ info.place }}</div>
                </div>
                <div class="user-box-clubs">
                    <div class="profile-pic-box-clubs">
                        {% if info.club and info.club.image %}

                        <img src="{{ info.club.image.url }}" alt="club-pic" height="100%" width="100%">
                        {% else %}

                        <img src="https://lh3.googleusercontent.com/d/1DFiBeV_CVm0oaIHyX7PVY2HLnNNGqkyN" alt="club-pic"
                            height="100%" width="100%">
                        {% endif %}
                    </div>
                    {% if info.club %}

                    <div class="profile-name noto-sans-thai-about">{{ info.club.title }}</div>
                    {% else %}
                    <div class="profile-name noto-sans-thai-about">No Club</div>
                    {% endif %}
                </div>
                {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'toggle_interest' info.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-interest {% if info.id in interested_events %}btn-interested{% endif %}">
                        <div class="interest-container">
                            <i class="{% if info.id in interested_events %}fas fa-check{% else %}fas fa-star{% endif %}" 
                            class="interest-icon" width="10" height="10" alt="icon"></i>
                            <div class="interest">
                                {% if info.id in interested_events %}
                                Interested
                                {% else %}
                                Interest
                                {% endif %}
                            </div>
                        </div>
                    </button>
                </form>
                {% else %}
                <button class="btn-interest" onclick="alert('Please login to use this feature');">
                    <div class="interest-container">
                        <img src="https://lh3.googleusercontent.com/d/1MIIe8PaaZVoXbAa0GV-3Eytt-azq8kJa" width="10"
                            height="10" alt="star">
                        <div class="interest">Interest</div>
                </button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% for info in faculty_club_announcements %}
        <div class="event-box">
            <div>
                <a href="{{ info.get_absolute_url }}">
                    <div class="event-image">
                        {% if info.image %}
                        <img src="{{ info.image.url }}" alt="{{ info.title }}" width="100%" height="100%">
                        {% else %}
                        <p>No image available.</p>
                        {% endif %}
                    </div>
                    <div class="event-name noto-sans-thai-about">{{ info.title }}</div>
                </a>
                <div class="event-duration-box">
                    <img src="https://lh3.googleusercontent.com/d/1cC59hVdiBcd2xTmRPf0PbXL6l7gB-lAw" alt="clock_logo"
                        width="15" height="15">
                    <div class="event-duration noto-sans-thai-about">
                        <div>{{ info.start_date }}</div>
                        <div>{{ info.end_date }}</div>
                    </div>
                </div>
                <div class="event-place-box">
                    <img src="https://lh3.googleusercontent.com/d/1WkrPHsZX7RKwxG5pMan-HIgGVvE0msOZ" alt="location_logo"
                        width="15" height="15">
                    <div class="event-place noto-sans-thai-about">{{ info.place }}</div>
                </div>
                <div class="user-box-clubs">
                    <div class="profile-pic-box-clubs">
                        {% if info.club and info.club.image %}

                        <img src="{{ info.club.image.url }}" alt="club-pic" height="100%" width="100%">
                        {% else %}

                        <img src="https://lh3.googleusercontent.com/d/1DFiBeV_CVm0oaIHyX7PVY2HLnNNGqkyN" alt="club-pic"
                            height="100%" width="100%">
                        {% endif %}
                    </div>
                    {% if info.club %}
                    <div class="profile-name noto-sans-thai-about">{{ info.club.title }}</div>
                    {% else %}
                    <div class="profile-name noto-sans-thai-about">No Club</div>
                    {% endif %}
                </div>
                {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'toggle_interest' info.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-interest {% if info.id in interested_events %}btn-interested{% endif %}">
                        <div class="interest-container">
                            <i class="{% if info.id in interested_events %}fas fa-check{% else %}fas fa-star{% endif %}" 
                            class="interest-icon" width="10" height="10" alt="icon"></i>
                            <div class="interest">
                                {% if info.id in interested_events %}
                                Interested
                                {% else %}
                                Interest
                                {% endif %}
                            </div>
                        </div>
                    </button>
                </form>
                {% else %}
                <button class="btn-interest" onclick="alert('Please login to use this feature');">
                    <div class="interest-container">
                        <img src="https://lh3.googleusercontent.com/d/1MIIe8PaaZVoXbAa0GV-3Eytt-azq8kJa" width="10"
                            height="10" alt="star">
                        <div class="interest">Interest</div>
                </button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}