{% extends "base.html" %}

{% block title %}
<title>TU Clubs</title>
{% endblock %}

{% block content %}
<div id="body-events">
    <div class="clubs-banner goldman-regular">
        <h1 class="clubs-title">TU Clubs</h1>
        <hr>
    </div>
    <div class="club-content">
        {% for info in clubs %}
        <div class="club-box">
            <a href="{{ info.get_absolute_url }}">
                <div class="club-img-frame">
                    {% if info.image %}
                    <img src="{{ info.image.url }}" alt="{{ info.title }}" width="150" height="150">
                    {% else %}
                    <p>No image available.</p>
                    {% endif %}
                </div>
                <div class="club-name noto-sans-thai-about">{{ info.title }}</div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="club-section-bar">
    </div>
</div>
{% endblock %}